html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    padding-top: 70px; 
}

.footer {
	width:100%;
    bottom: 0;
	background:#333;
	clear: both;
 	position: absolute;
 	z-index: 10;
}

hr {
    border: none;
    height: 1px;
    color: #333;
    background-color: #333; 
}

.jumbotron {
    color: #2c3e50;
    background: #ecf0f1;
}

.navbar-inverse {
    background: #2c3e50;
    color: white;
}

.navbar-inverse .navbar-brand, .navbar-inverse a{
    color: white;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
    border-bottom: 5px solid #2c3e50;
} 

.navbar-inverse .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    border-bottom: 5px solid #cece39;
}

.crop > a > img {
    width: 400px;
    height: 200px;
    overflow: hidden;
}

.image-details {
	background:#f8f8f8;
	display: block;
	padding:10px;
	font-family: Georgia;
	font-style: italic;
    color: #6f6f6f;
	width: auto;
    height: auto;
    max-width: 100%;
}
.image-details a {
	margin: 0px; 
    color: #333333;
	font-size: 12px; 
	font-style: normal;
	text-shadow:none;
	display: block;
	font-family: "Oswald", sans-serif; 
	font-weight: normal;
	text-transform:uppercase; 
}

.image-details a:hover {
    color:#d8450b; 
    text-decoration: none;
}

.image-info {
    margin: 0px 0px 40px 0px;
}

.image-info li { 
	list-style: none; 
	border-bottom: 1px dashed #a9a9a9;;
	padding: 10px; 
}

.image-info li h6 {
    display: inline; margin-right: 5px;
}

.thumbnail {
    position: relative;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
}

.transition {
    -webkit-transform: scale(1.1); 
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.website-link {
    color: firebrick;
}
