<navigation></navigation>

<div class="container">
    <div class="row">
        <p role="alert" ng-show="vm.error" class="alert alert-danger text-center">{{ vm.error }}</p>
        <div class="jumbotron">
            <p class="username pull-right">Created By: <a href="/users/{{ vm.data.image.creator }}"><strong> {{ vm.data.image.creator }} </strong></a></p>
            <h1></span> {{ vm.data.image.title }}</h1>
            <p class="lead">{{ vm.data.image.description }}</p>
            <p class="text-muted pull-right">{{ vm.data.image.createdOn | date: 'dd MMMM yyyy' }}</p>
            <div ng-hide="vm.userIsImageCreator">
                <h2><a href="#" ng-click="vm.updateImageLikes()"><i class="fa fa-heart like-btn" ng-show="vm.hasLiked" aria-hidden="true"></i><i class="fa fa-heart-o like-btn" ng-hide="vm.hasLiked" aria-hidden="true"></i></a> {{ vm.data.image.likes.length }}</h2>
                <button ng-show="vm.isLoggedIn" ng-click="vm.commentModal()" class="btn btn-lg btn-primary" data-toggle="modal"><i class="fa fa-comment" aria-hidden="true"></i> Comment</button>
                <a ng-hide="vm.isLoggedIn" href="/#/login?page={{ vm.currentPath }}" class="btn btn-lg btn-primary"><i class="fa fa-comment" aria-hidden="true"></i> Login to Comment</a>
            </div>
            <div ng-show="vm.userIsImageCreator">
                <a ng-click="vm.updateImageModal()" class="btn btn-lg btn-warning"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</a>
                <button ng-click="vm.deleteImageModal()" class="btn btn-lg btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</button>
            </div>
        </div>
        <div class="image-container">
            <div class="col-md-6 thumbnail">
                <a href="{{ vm.data.image.url }}" target="_blank"><img src="{{ vm.data.image.url }}" class="align-left img-responsive" alt="image"></a>
            </div>
            <div class="col-md-6">
                <div class="scrollable comments-section">
                    <div class="comment" ng-repeat="comment in vm.data.image.comments | orderBy: 'createdOn': true">
                        <p>
                            <a href="/users/{{ comment.author }}" class="username"><strong>{{ comment.author }}</strong></a>&nbsp;
                            <span class="text-muted">({{ comment.createdOn | date: 'dd-mm-yy hh:mm a' }})</span>&nbsp;
                            <span>{{ comment.content }}</span>  
                            <span ng-show="isCommentAuthor(comment.author)">
                                <a href="#" class="text-primary" ng-click="vm.updateCommentModal(comment)"><i class="fa fa-pencil" aria-hidden="true"></i></a> 
                                <a href="#" class="text-danger" ng-click="deleteComment(comment)"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer-basic></footer-basic>