<!DOCTYPE html>
<html>

    <% include ../partials/head %>
    
<body>
	<% include ../partials/navbar %>

    <h1>View</h1>
    
    <% include ../partials/footer %>
    <% include ../partials/scripts %>
</body>
</html>
