<footer class="footer">
    <div class="container">
        <hr class="large" />
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <p class="copyright text-muted text-center">Copyright &copy; 2016 <a href="http://glendoncheney.com" class="website-link">Glendon Cheney</a></p>
            </div>
        </div>
    </div>
</footer>