<!-- Add Image Modal -->
<div class="modal-content">
    <!-- Modal Header -->
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="vm.modal.cancel()">
               <i class="fa fa-times" aria-hidden="true"></i>
               <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title">
            Edit {{ vm.imageData.imageTitle }}
        </h4>
    </div>

    <!-- Add Image Modal Body -->
    <div class="modal-body">
        <div role="alert" ng-show="vm.formError" class="alert alert-danger">{{ vm.formError }}</div>
        <form ng-submit="vm.onSubmit()" role="form" id="addImage" name="addImage" class="form-horizontal">
             <div class="form-group">
                <label for="title" class="col-xs-2 col-sm-2 control-label">Title: </label>
                <div class="col-xs-10 col-sm-10">
                    <input id="title-input" ng-model="vm.imageData.title" type="text" class="form-control" name="title" value="{{ vm.imageData.title }}">
                </div>
            </div>
            <div class="form-group">
                <label for="description" class="col-xs-2 col-sm-2 control-label">Description: </label>
                <div class="col-xs-10 col-sm-10">
                    <input id="description-input" ng-model="vm.imageData.description" type="text" class="form-control" name="description" value="{{ vm.imageData.description }}">
                </div>
            </div>
            <div class="modal-footer">
                <button ng-click="vm.modal.cancel()" type="button" class="btn btn-default">Cancel</button>
                <button type="submit" class="btn btn-warning"><i class="fa fa-pencil" aria-hidden="true"></i>  Update {{ vm.imageData.imageTitle }}</button>
            </div>
        </form>
    </div>
</div>
