<!DOCTYPE html>
<html>

    <% include ../partials/head %>
    
<body>
	<% include ../partials/navbar %>

    <div class="container">
        <div class="jumbotron">
            <h1>About The Image Link Gallery</h1>
            <p>This site was created by <a href="https://glendoncheney.com">Glendon Cheney</a></p> 
        </div>
    </div>
    
    <% include ../partials/footer %>
    <% include ../partials/scripts %>
</body>
</html>
