<!DOCTYPE html>
<html>

    <% include ../partials/head %>
    
<body>
	<% include ../partials/navbar %>

    <div class="container">
        <div class="jumbotron">
            <h1>Contact Us </h1>
            <p>Maybe later on</p> 
        </div>
    </div>
    
    <% include ../partials/footer %>
    <% include ../partials/scripts %>
</body>
</html>
